<!DOCTYPE html>
<html>
    <head>
        <title>TTG API</title>
    </head>
    <body>
        <style>
            body{
                font-family: sans-serif;
            }
        </style>
        <h1>The TTG API</h1>
        <small><p><b>If you intent was to access the TTG API, and not its documentation, please refer to <a href="/v1">https://newttg.leadattic953788.repl.co/api/v1</a></b></p></small>
        <br>
        <h2>All api functions in a list, in no particular order</h2>
        
    </body>
</html>