<!DOCTIME html>
<html>

    <body>
        <style>
        body { 
    
    font-family: sans-serif;
    background-color: #ededed;
    color: #d6d6d6;
    background-color: #202121;
    background-size: 100%, 100%;
  
}img.resize {
    width: 100%; /* you can use % */
    height: 100%;
}
#centralize{
    text-align: center;

}
.card{
    margin: 20px;
    border: 3px solid #C5EAFA ;
    background-color: #ff4785;
    width: 200px;
    height: 260px;
    border-radius: 12px;
}
#mbr{
    margin-left: 55px;
    margin-top: 65px;
}
        </style>
        <h1 style="font-weight: thin;">TTGames</h1>
        <hr>
        <a href="https://newttg.leadattic953788.repl.co">back to homepage</a>
    </body>
</html>